<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic QR/ Barcode Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!--h1>Click Button To Scan</h1-->
  <br>
  <ion-button color="primary" expand="full" (click)="scanCode()">
    Scan Code
  </ion-button>

  <div *ngIf="scannedData">
    <p>
      Scanned Code Text : <b>{{ scannedData["text"] }}</b>
    </p>
    <p>
      Scanned Code Format : <b>{{ scannedData["format"] }}</b>
    </p>
  </div>
  <br>
  <!--h1>Enter Value to Create QR code</h1-->
  <ion-item>
    <ion-input placeholder="Enter Input" [(ngModel)]="encodedData"></ion-input>
  </ion-item>
  
  <br>
  <ion-button color="success" expand="full" (click)="encodedText()">
    Create QR
  </ion-button>
</ion-content>